.addingPage {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 300px;
    top: 100px;
}

.addingPage input {
    width: 100%;
    height: 56%;
    position: relative;
    text-align: center;
    margin: 2px;
}

.float-child {
    widht: 50%;
    float: left;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}

